# Fichiers et répertoires de configuration
# **/.env*
**/.dockerignore
**/.git
**/.gitignore
**/.github
**/.gitlab-ci.yml
**/docker-compose*.yml
**/Dockerfile
**/README.md
**/node_modules
**/npm-debug.log
**/yarn-error.log

# Dossiers de build et de déploiement
**/dist
**/build
**/public

# Dépendances
node_modules
jspm_packages

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Systèmes d'exploitation
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Éditeurs
.vscode
.idea
*.sublime-workspace

# Fichiers spécifiques au projet (à ajuster selon votre projet)
# Par exemple, si vous avez des fichiers temporaires ou de configuration spécifiques
# temp/
# config/development.json
